@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.error {
  text-align: center;

  &__button {
    background-color: $color-primary;
    border: none;
    border-radius: 2px;
    padding: 10px 12px;
    color: #fff;
  }
}
